body {
  background-color: rgb(231, 230, 228);
}

h4 {
  margin-bottom: 40px;
}



img {
  width: 90%;
  margin: 10px;
}

#headline {
  padding-top:  30px;
  padding-bottom: 30px;;
}

.btn {
  margin:  20px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.zoom {
cursor: move;
fill: none;
pointer-events: all;
}

.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
  }
  
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #bbb;
  stroke-opacity: .2;
}

.link:hover {
  stroke: #00d;
  stroke-opacity: .5;
}

/* .container-fluid {
  background-color: aquamarine;
} */

#updateStocks {
  margin-left: 50px;
}

#aaplchk {
  background-color: #0E79EB;
}

#amznchk {
  background-color:#19C7D4;
}

#bacchk {
  background-color: #04D924;
}

#msftchk {
  background-color: #F75C01;
}

#tslachk {
  background-color: #A60303;
}

.colorbox {

  padding: 10px;
  border-radius: 5px;
}

.checkbox-inline {
  padding-left: 5%;
}


/* 
figcaption {
  color: #333;
  font: italic;
  padding: 3px;
  text-align: center;
} */